In [1]:
import seaborn as sns

In [2]:
tips=sns.load_dataset("tips")

In [3]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
tips_df= tips.copy()

In [5]:
## Use Label Encoding to encode categorical variables into numerical features

In [6]:
for i in tips.columns:
    if tips[i].dtype!="O":
        print(i)

total_bill
tip
sex
smoker
day
time
size

In [7]:
type(tips["sex"])

pandas.core.series.Series

In [8]:
tips.select_dtypes(exclude=["float","int"])

        sex smoker   day    time
0    Female     No   Sun  Dinner
1      Male     No   Sun  Dinner
2      Male     No   Sun  Dinner
3      Male     No   Sun  Dinner
4    Female     No   Sun  Dinner
..      ...    ...   ...     ...
239    Male     No   Sat  Dinner
240  Female    Yes   Sat  Dinner
241    Male    Yes   Sat  Dinner
242    Male     No   Sat  Dinner
243  Female     No  Thur  Dinner

[244 rows x 4 columns]

In [9]:
categorical_fetaures= tips.select_dtypes(exclude=["float","int"])

In [10]:
categorical_fetaures

        sex smoker   day    time
0    Female     No   Sun  Dinner
1      Male     No   Sun  Dinner
2      Male     No   Sun  Dinner
3      Male     No   Sun  Dinner
4    Female     No   Sun  Dinner
..      ...    ...   ...     ...
239    Male     No   Sat  Dinner
240  Female    Yes   Sat  Dinner
241    Male    Yes   Sat  Dinner
242    Male     No   Sat  Dinner
243  Female     No  Thur  Dinner

[244 rows x 4 columns]

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le= LabelEncoder()

In [13]:
for i in categorical_fetaures:
    tips[i]=le.fit_transform(tips[i])

In [14]:
tips

     total_bill   tip  sex  smoker  day  time  size
0         16.99  1.01    0       0    2     0     2
1         10.34  1.66    1       0    2     0     3
2         21.01  3.50    1       0    2     0     3
3         23.68  3.31    1       0    2     0     2
4         24.59  3.61    0       0    2     0     4
..          ...   ...  ...     ...  ...   ...   ...
239       29.03  5.92    1       0    1     0     3
240       27.18  2.00    0       1    1     0     2
241       22.67  2.00    1       1    1     0     2
242       17.82  1.75    1       0    1     0     2
243       18.78  3.00    0       0    3     0     2

[244 rows x 7 columns]

In [15]:
# Independent features and dependent features

X= tips.drop("time",axis=1) # Independent features
y=tips[["time"]] # Dependent features

In [16]:
X.head()

   total_bill   tip  sex  smoker  day  size
0       16.99  1.01    0       0    2     2
1       10.34  1.66    1       0    2     3
2       21.01  3.50    1       0    2     3
3       23.68  3.31    1       0    2     2
4       24.59  3.61    0       0    2     4

In [17]:
y.head()

   time
0     0
1     0
2     0
3     0
4     0

In [18]:
## train test split

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.20,random_state=42)

In [19]:
## Naive Bayes model training (Guassian Naive Bayes)

from sklearn.naive_bayes import GaussianNB

gnb= GaussianNB()

In [20]:
gnb.fit(X_train,y_train)

C:\Users\Nethajimahendra K\Anaconda\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [21]:
y_pred= gnb.predict(X_test)

In [22]:
# Metrics (Model evaluation)

from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

print("accuarcy score: ", accuracy_score(y_pred,y_test))

accuarcy score:  0.9387755102040817

In [23]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.97      0.94      0.96        35
           1       0.87      0.93      0.90        14

    accuracy                           0.94        49
   macro avg       0.92      0.94      0.93        49
weighted avg       0.94      0.94      0.94        49

In [24]:
print("confusion matrix: \n")

print(confusion_matrix(y_test,y_pred))

# Diagonal values represent the correcly predicted values

confusion matrix:

[[33  1]
 [ 2 13]]

In [25]:
## Repeat the same assignment by converting the catergorical into numerical featues using the One hot encoding and observe the 
# output.